@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #007BFF;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    top: 0;
}

nav button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #0056b3;
}

.pomodoro {
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 5%;
    /* width: 60%; 
    height: 60%; 
    background: url('https://res.cloudinary.com/dc8ytlj2n/image/upload/v1739455191/applephoto_yfnksi.svg') no-repeat center center; */
    width: 100%; 
    height: 100%; 
    background: url('https://res.cloudinary.com/dc8ytlj2n/image/upload/v1739455192/apple_tzck3f.svg') no-repeat center center;
    background-size: contain;
    position: relative;
    margin-top: 60px; /* Adjust for navbar height */
}

.clock {
    position:relative;
    text-align: center;
}

#timer {
    margin: 0;     /* <p> has default margin */
    font-size: 48px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s;
}

#timer:hover {
    color: yellow !important;
}

.buttons button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.buttons{
    background-color: pink;
}

#start {
    background-color: green;
}

#pause {
    background-color: goldenrod; 
}

#stop {
    background-color: red;
}

.buttons button:hover {
    border: 5px solid black;
}

.buttons button:disabled {
    cursor: not-allowed; 
    opacity: 0.6; 
}